/**
 * Float Layout Activity
 **/ 

* {
  box-sizing: border-box;
  text-align: center;
  }
  @media screen and (max-width: 700px) {
    body {
        background-color: hsl(351, 87%, 94%)182, 239);
    }

    .wrapper: 500px;
    
  }

  
h1 {
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    Text-align: center;
    color: pink;
    background: white;
    font-family: Great Vibes;
  }

  h2{
     background: grey;
     text-align: center;
  }

selector:pseudo-class {
    property:value;
}

#About:hover{
    display: block;
    background-color: hot;
}

#About:active {
    display: block;
    background-color: grey
}
#About {
  position: absolute;
  background: pink;
  color: #eee;
  text-align: center;
  top:0;
  right: 0;
  font-family: Poiret One;
  }

  #Portfolio:hover{
    display: block;
    background-color: hot;
}

#Portfolio:active {
    display: block;
    background-color: grey
}

#Portfolio {
   position: absolute;
   background: pink;
   color: #eee;
   top: 0;
   right: 225px;
   font-family: Poiret One;
  }

  #Contact:hover{
    display: block;
    background-color: hot;
}

#Contact:active {
    display: block;
    background-color: grey
}
  #Contact {
      position: absolute;
      top: 0;
      background: pink;
      color: #eee;
      right: 115px;
      font-family: Poiret One;
  }
 
  p {
      font-size: 10pt;
      padding: 0;
      margin: 0;
      border: 3px solid pink;
      position: absolute;
      right: 250px;
      width: 700px;
      height: 300px;  
      font-family: Poiret One;
      background-color: whitesmoke
  }

  img {
      width: 230px;
      height: 300px;
      left: 40px;
      position: static;
  }

   